---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom";


// body {
//     font-size: 12px;
//   }

.color-blue {
    color: #487CA5;
  }
.color-red {
    color: #C4554D;
  }
.color-green {
    color: #548164;
  }
.color-yellow {
    color: #C29343;
  }
.color-gray {
    color: #787774;
  }
.color-brown {
    color: #976D57;
  }
.color-orange {
    color: #CC782F;
  }
.color-purple {
    color: #8A67AB;
  }
.color-pink {
    color: #B35488;
  }
